html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
}
#header{
		height: 25px;
		padding-top: 20px;
		padding-bottom: 20px;

}


#black-bar{
		height: 25px;
		background-color: black; 
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: left;

}

#region{
	font-size: 15px;
	color: #5DD0E8;
}
#regions{
	position: absolute;
	top: 20px;
	right: 650px;
}
#search{
	position: absolute;
	top: 20px;
	right: 0;
}

#weather-png{
	position: absolute;
	top: 20px;
	right: 350px;
	width: 15px;

}
#tempr{
	position: absolute;
	top:20px;
	right: 305px;
	color: silver;
	font-size: 15px;

}

#black-bar a {
	color: white;
}

#datetime{
	float: right;
}

#navigation{
		height: 25px;
		padding-top: 20px;
		padding-bottom: 20px;

}

.nav a{
				/*float: left;*/
				display: inline-block;
                width: auto;
                padding: 5px 16px;
                margin: 0 auto;
                font-size: 19px;
                /*background-color: #f4f4f4;*/
                /*border: 1px dashed #333;*/
                /*text-decoration: none;*/
                /*color: #333;*/
                text-align: center;

}


.fixed-conteiner{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
