html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
}


#black-bar{
		height: 25px;
		background-color: black; 
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: left;

}
#logo{
	/*width: 75px;*/
	position: absolute;
	top: 35px;
	}

#region{
	font-size: 15px;
	color: #5DD0E8;
}
#regions{
	position: absolute;
	top: 120px;
	right: 1050px;
}
#search{
	position: absolute;
	top: 120px;
	right: 390px;

}

#weather-png{
	position: absolute;
	top: 120px;
	right: 800px;
	width: 15px;

}
#tempr{
	position: absolute;
	top: 120px;
	right: 755px;
	color: silver;
	font-size: 15px;

}

#black-bar a {
	color: white;
}

#datetime{
	float: right;
}


.fixed-conteiner{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
